<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/upload.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Upload page -->
    <div class="uploadPage">
      <nav class="navbar justify-content-between">
        <img src="/images/logo.png" alt="" width="60px" height="65px" />
        <!-- <form class="form-inline"> -->
        <a class="btn btn-danger btn-lg" href="/"> LOGOUT </a>
        <!-- </form> -->
      </nav>

      <div class="container-fluid">
        <div class="slideshow-container">
          <div class="mySlides">
            <img src="/images/certi.png" />
            <div class="text"></div>
          </div>

          <br />

          <%- include('messages') %>
          <form
            action="/certis"
            enctype="multipart/form-data"
            method="POST"
            id="uploadForm"
          >
            <% if(typeof count != 'undefined') { %>
            <p id="countInP" style="display: none"><%= count %></p>
            <% } %>
            <input type="text" name="count" id="count" style="display: none" />
            <div class="file-upload">
              <span class="file-upload__label">
                <h4>Upload Files :</h4>
              </span>
              <input
                class="file-upload__input btalign btn-lg"
                type="file"
                name="certis"
                id="myFiles"
                multiple="multiple"
                accept="image/*"
              />
              <input
                type="submit"
                class="selectFiles btn-lg"
                value="Upload your files"
                onclick="alertUser()"
              />
            </div>
          </form>
          <br /><br />
        </div>
        </div>
      </div>
    </div>
            <div class="contact" style="margin-top: 15rem;">
        <div class="d-flex justify-content-center contact-text-main"> CONTACT US</div>
        <hr style="background-color: crimson" />
        <div class="d-flex justify-content-between ">
          <div class="contact-text">
            <p>Varad Rane</p>
            <i class="fa fa-envelope" aria-hidden="true" > 2018.varad.rane@ves.ac.in </i>
            <i class="fa fa-phone" aria-hidden="true" style="padding-top: 20px;"> 8082642593 </i>
          </div>
          <div class="contact-text">
            <p>Jai Malani</p>
            <i class="fa fa-envelope" aria-hidden="true"> 2019jai.malani@ves.ac.in </i>
            <i class="fa fa-phone" aria-hidden="true" style="padding-top: 20px; padding-bottom:20px;"> 7776939967 </i>
          </div>
        </div>
      </div>
    <script>
      function alertUser() {
        alert(
          "Starting upload...\nPlease wait while the images are being uploaded \nWhen done, you will be redirected to the login page"
        );
      }
    </script>
  </body>
</html>
