<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style media="screen">
    body{
      overflow-x: hidden;
    }
    .navbar {
      background-color: #ffbf47;
    }
    .page{
      margin: 5% 2%;
    }
    a:hover{
      text-decoration: none;
    }
    a:active{
      text-decoration: none;
    }
    .card {
      margin-left: 1%;
      border-color: #ffbf47;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
      padding: 2%;
    }
    h5{
      color: #000;
    }
    h2{
      color: #a0522d;
      text-align: center;
      font-size: 2.7rem;
      /* margin-top: 3%; */
      text-transform: uppercase;
    }
    </style>
  </head>
  <body onload="getData()">
    dashboard
    <!-- these input fields are used for backend keep them as it is -->
    <input
      type="text"
      name="allUsers"
      id="allUsers"
      style="display: none"
      value="<%= typeof allUsers != 'undefined' ? allUsers: '' %> "
    />
    <input
      type="text"
      name="email"
      id="email"
      style="display: none"
      value="<%= typeof email != 'undefined' ? email: '' %> "
    />
    <a href="/csv">uplaod new</a>
    <a href="/userData">get all uploaded details</a>
    <script src="clientJS/dashboard.js"></script>
    <!-- navbar -->
  <nav class="navbar justify-content-between">
    <img src="/images/logo.png" alt="" width="60px" height="65px" />
    <h2>Dashboard</h2>
    <a class="btn btn-danger btn-lg" onclick="signOut()" href="/"> LOGOUT </a>
  </nav>

    <!--For Page-->
  <div class="page">
      <div class="row">
          <!-- From this part it will go in loop -->
          <div class="col-sm-4">
              <div class="card wider shadow mb-5 ">
                  <a href="#">
                    <div class="card-body card-body-cascade text-center">
                      <h5>UID : ISA05122025729</h5>
                      <h5>Email: 2015.souvik.saha@ves.ac.in</h5>
                      <h5>Name : Souvik Saha</h5>
                      <h5>Branch : Instrumentation</h5>
                      <h5>Certificate Name : XYZAJDNCGDHWOIUTDBCGTQERTY</h5>
                    </div>
                  </a>
              </div>
          </div>
          <!-- Till this line will be in loop -->
        </div>
      </div>
    <script>
        signOut = () => {
          fetch('/signOut', {
            method: 'POST',
            headers: {
              'Content-Type': 'text/plain;charset=UTF-8'
            },
            body: "Sign Out Request" // body data type must match "Content-Type" header
          });
        }
      </script>

  </body>
</html>
