<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="92910074640-vc6ffegjshje9e9ogbfbfr5s0k85r6qj.apps.googleusercontent.com"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-scope" content="profile email" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="./../clientJS/main.js"></script> -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <title>Certificate VESIT</title>
  </head>
  <body>
    <!-- Sign in page -->
    <div class="loginPage">
      <nav class="navbar justify-content-between">
        <img src="/images/logo.png" alt="" width="50px" height="60px" />
        <h2 class="vesname">COUNCIL CERTIFICATES UPLOAD</h2>
      </nav>

      <div class="card">
        <%- include('./messages') %>
        <div class="container-fluid">
          <br /><br />
          <h1>Log In</h1>
          <h4 id="signInHeader">Sign In with your VES Account</h4>
          <h4 id="resetHeader" style="display: none">
            You will be receiving a link<br />to reset the password!
          </h4>
          <br /><br />
          <form
            action="/signIn"
            method="POST"
            class="form mb-2"
            id="signInForm"
          >
            <!-- <form class="form"> -->
            <div class="form-group">
              <input
                style="width: 62.5%; margin-left: 20%"
                class="form-control"
                type="email"
                name="email"
                id="username"
                placeholder="society.vesit@ves.ac.in"
                value=".vesit@ves.ac.in"
                required="required"
              />
            </div>
            <div class="form-group">
              <input
                style="width: 62.5%; margin-left: 20%"
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Password"
                required="required"
              />
            </div>

            <button class="btn btn-warning btn-lg ml-3 mr-3 mt-2" type="submit">
              Log In!
            </button>
            <button
              class="btn btn-warning btn-lg mt-2"
              onclick="resetFormShow()"
            >
              Change Password?
            </button>
            <!-- <div class="btn g-signin2" data-theme="dark" data-onsuccess="onSignIn" type="submit">Click Here!</div> -->
          </form>
          <form
            action="/resetPass"
            method="POST"
            class="form mb-2"
            id="resetForm"
            style="display: none"
          >
            <!-- <form class="form"> -->
            <div class="form-group">
              <input
                style="width: 62.5%; margin-left: 20%"
                class="form-control"
                type="email"
                name="email"
                id="username"
                placeholder="society.vesit@ves.ac.in"
                value=".vesit@ves.ac.in"
                required="required"
              />
            </div>

            <button class="btn btn-warning btn-lg ml-3 mr-3 mt-2" type="submit">
              Send Link!
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      resetFormShow = () => {
        console.log("Button Clicked!");
        document.getElementById("signInForm").style.display = "none";
        document.getElementById("signInHeader").style.display = "none";
        document.getElementById("resetForm").style.display = "block";
        document.getElementById("resetHeader").style.display = "block";
      };
    </script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <footer class="contact">
      <h2 class="d-flex justify-content-center contact-text-main">
        Have a Query? Contact Us
      </h2>
      <hr style="background-color: crimson" />
      <div class="container">
        <div class="left">
          <h3>Vivekanand Education Society's Institute Of Technology</h3>

          <br />
          <h5 style="font-size: 20px">
            <strong>Address:</strong> <br />
            Hashu Advani Memorial Complex, Collector's Colony <br />
            Chembur, Mumbai, Maharashtra 400074
          </h5>
        </div>
        <div class="row">
          <div class="contact-text col-md-12">
            <p>Varad Rane</p>
            <i class="fa fa-envelope" aria-hidden="true">
              2018.varad.rane@ves.ac.in
            </i>
            <br />
            <br />
          </div>
          <div class="contact-text col-md-12">
            <p>Jai Malani</p>
            <i class="fa fa-envelope" aria-hidden="true">
              2019jai.malani@ves.ac.in
            </i>
            <br />
            <br />
          </div>
          <div class="contact-text col-md-12">
            <p>Mcvean Soans</p>
            <i class="fa fa-envelope" aria-hidden="true">
              2019mcvean.soans@ves.ac.in
            </i>
            <br />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
