<% if(typeof errors != 'undefined') { %> <% errors.forEach(function (error) { %>
<div class="alert show" style="margin-bottom: 25%;">
  <%= error.msg %>
  <span class="closebtn" onclick="this.parentElement.style.display='none';"
    >&times</span
  >
</div>
<% }); %> <% } %>
