<% if(typeof errors != 'undefined') { %> <% errors.forEach(function (error) { %>
<div
  class="lert alert-warning alert-dismissible fade show m-2 p-3"
  role="alert"
>
  <%= error.msg %>
  <span class="btn-close" onclick="this.parentElement.style.display='none';"
    >&times</span
  >
</div>
<% }); %> <% } %>
