<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Certificates VESIT</title>
    <style media="screen">
      body {
        overflow-x: hidden;
      }
      .navbar {
        background-color: #ffbf47;
      }
     .page {
        margin: 1% 2%;
      }
      .back{
        margin-bottom: 2%;
      }
     button {
        margin-left: 31%;
        margin-bottom: 2%;
      }
      .yes {
        float: left;
        margin-left: 48%;
        margin-top: -34px;
      }
      .modalCenter{
        top: 36%;
        transform: translateY(-50%);
      }
      /* contact us */
      .contact {
        background-color: #ffbf47 !important;
        color: #000;
        font-family: "Quicksand", sans-serif;
        margin-top: 2rem;
      }
      .contact-text-main {
        padding-top: 10px;
        font-size: 2.7rem;
        text-decoration-style: solid;
        font-weight: bold;
      }
      .contact-text {
        float: right;
        font-size: 2.3rem;
        font-weight: 500;
      }
      .contact-text p {
        margin-bottom: 0;
        margin-top: 5px;
        margin-left: 25px;
      }
      .row1 {
        margin-left: 750px;
        margin-top: -300px;
      }
      .left {
        width: 40%;
      }
      footer {
        clear: both;
        position: relative;
        height: 380px;
      }
    </style>
    <script src="clientJS/userData.js"></script>
  </head>
  <body onload="getData()">
    <!-- navbar -->
    <nav class="navbar justify-content-between">
      <img src="/images/logo.png" alt="" width="60px" height="65px" />
      <h1>Dashboard</h1>
      <a class="btn btn-danger btn-lg" onclick="signOut()" href="/"> LOGOUT </a>
    </nav>

    <!--For Page-->

    
    <div class="page">
    <a class="btn btn-danger btn-lg back" type="button" data-toggle="modal" data-target="#myModal"> Back </a>
      <h3>Council Email:</h3>
      <p id="email"></p>
      <div id="confirm" style="display: none">
          <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modalCenter">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to delete this Certificate?</h5> </br>
        </div>
        <div class="modal-body">
          <button
          class="btn btn-danger btn-md"
          onclick="document.getElementById('confirm').style.display='none';"
         
        >
          NO
        </button>
        <form action="/userData" method="POST">
          <input
            type="text"
            id="currentUser"
            name="currentUser"
            style="display: none"
          />
          <button class="yes btn btn-success btn-md" type="submit">YES</button></br>
        </form>        
      </div>
      </div>
      
    </div>
  </div>
      <table class="table table-striped" id="users">
        <thead class="table table-bordered">
          <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">UID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Branch</th>
            <th scope="col">Certificate_Year</th>
            <th scope="col">Certificate_Name</th>
            <th scope="col">Link</th>
            <th scope="col" type="button" data-toggle="modal" data-target="#myModal">Delete</th>
          </tr>
        </thead>
        <tbody id="tableBody"></tbody>
      </table>
    </div>

    <!-- footer -->
    <footer class="contact">
      <h2 class="d-flex justify-content-center contact-text-main">
        Have a Query? Contact Us
      </h2>
      <hr style="background-color: crimson" />
      <div class="container">
        <div class="left">
          <h3>
            <a
              href="https://drive.google.com/drive/folders/1C8CQ3GDq7U87A_7XK_DA7fhHDKz1TCvB?usp=sharing"
              style="color: #007bff"
              >Click Here</a
            >
            to see documentation and necessary files for reference
          </h3>
          <br />
          <h3>Vivekanand Education Society's Institute Of Technology</h3>

          <br />
          <h5 style="font-size: 20px">
            <strong>Address:</strong> <br />
            Hashu Advani Memorial Complex, Collector's Colony <br />
            Chembur, Mumbai, Maharashtra 400074
          </h5>
        </div>
        <div class="row row1">
          <div class="contact-text col-md-12">
            <p>Varad Rane</p>
            <i class="fa fa-envelope" aria-hidden="true">
              2018.varad.rane@ves.ac.in
            </i>
            <br />
            <br />
          </div>
          <div class="contact-text col-md-12">
            <p>Jai Malani</p>
            <i class="fa fa-envelope" aria-hidden="true">
              2019jai.malani@ves.ac.in
            </i>
            <br />
            <br />
          </div>
          <div class="contact-text col-md-12">
            <p>Mcvean Soans</p>
            <i class="fa fa-envelope" aria-hidden="true">
              2019mcvean.soans@ves.ac.in
            </i>
            <br />
          </div>
        </div>
      </div>
    </footer>

    <script>
      signOut = () => {
        fetch("/signOut", {
          method: "POST",
          headers: {
            "Content-Type": "text/plain;charset=UTF-8",
          },
          body: "Sign Out Request", // body data type must match "Content-Type" header
        });
      };
    </script>
  </body>
</html>
